<!DOCTYPE html>
<html>
  <head>

    <% include ../static/partials/head.ejs %>

  </head>
  <body>
    <main class="container">

      <% include ../static/partials/navbar.ejs %>

      <div class="row">
        <div class="col-10 align-self-center">
          <h1>Wikis</h1>
        </div>
        <div class="col-2 align-self-center">
          <% if(currentUser) { %>
            <a href="/wikis/new" class="btn btn-success btn-block">New Wiki</a>
          <% } %>
        </div>
      </div>
      <ul class="list-group">
        <% wikis.forEach((wiki) => { %>
          <% if (wiki.private == false) { %>
            <li class="list-group-item">
              <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
            </li>
          <% } else if (currentUser) { %>
            <% if (currentUser.role == 1) { %>
              <% if (wiki.userId == currentUser.id) { %>
                <li class="list-group-item">
                  <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
                </li>
              <% } %>
            <% } else if (currentUser.role == 2) { %>
              <li class="list-group-item">
                <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
              </li>
            <% } else { %>
              <% wiki.collaborators.forEach((collaborator) => { %>
                <% if (collaborator.username == currentUser.username) { %>
                  <li class="list-group-item">
                    <a href="/wikis/<%= wiki.id %>"> <%= wiki.title %> </a>
                  </li>
                <% } %>
              <% }) %>
            <% } %>
          <% } %>
        <% }) %>
      </ul>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
